<div class="contact_inputs grid">
  <div class="contact_content">
    <!-- <label for="" class="contact-label">Name</label> -->
    <input type="text" class="contact_input" placeholder="Name" name="name" required/>
  </div>
  <div class="contact_content">
    <input
      type="email"
      class="contact_input"
      placeholder="Email"
      name="email"
      required
    />
  </div>
</div>
<div class="contact_content">
  <textarea
    name="message"
    cols="0"
    rows="7"
    class="contact_input"
    placeholder="Message"
    required
  ></textarea>
</div>
<button class="btn button-flex" type="submit" >Send Message</button>
