<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="section section-footer">
        <div class="footer-container grid grid-three-col">
            <div class="footer-about">
                <h3>About</h3>
                <p>Neuz Now - Get latest news 
                </p>
            </div>
            <div class="footer-links">
                <h3>Links</h3>
                <a href="/" class="links">Home</a>
                <a href="/category/business" class="links">Business</a>
                <a href="/category/entertainment" class="links">Entertainment</a>
                <a href="/category/health" class="links">Health</a>
                <a href="/category/international" class="links">International</a>
                <a href="/category/Sports" class="links">Sports</a>
                <a href="/category/technology class="links">Technology</a>
                <a href="/category/science" class="links">Science</a>
            </div>
            <div class="personal-info">
                <h3>Have any Query?</h3>
                <address>
                    <div>
                        <p>
                            <span>
                                <ion-icon name="location-outline"></ion-icon>
                            </span>
                            Gujarat, India
                        </p>
                    </div>
                    <div>
                        <p>
                            <a href="tel:917226818050">+91 7226818050</a>
                        </p>
                    </div>
                    <div>
                        <p>
                            <a href="mailto:pratikdevganiya1288@gmail.com">pratikdevganiya122@gmail.com</a>
                        </p>
                    </div>
                </address>
            </div>
        </div>
        <div class="social-links">
            <div class="insta">
                <a>
                    <ion-icon class="ico" name="logo-instagram"></ion-icon>
                </a>
            </div>
            <div class="git-hub">
                <a>
                    <ion-icon class="ico" name="logo-github"></ion-icon>
                </a>
            </div>
        </div>
        <div class="copyright">
            Copyright &#169;2023 All rights reserved | This News Website is made by Pratik Devganiya
        </div>
    </footer>
</body>
</html>