<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="script.js"></script> -->
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Neuz Now - Get daily real time news global and local</title>
    <style>
      body {
        /* background-color: #fff;
        background-image: none; */
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
      }
    </style>
  </head>

  <body>
    <!-- <%- include('../partials/navbar') %> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Neuz-Now</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="ul">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/" id="home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/category/international"
                >International</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/category/sports">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/category/entertainment"
                >Entertainment</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/category/business"
                >Business</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/category/technology"
                >Technology</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/category/science">Science</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/category/health">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="int" href="/admin/category/local"
                >Local News</a
              >
            </li>
          </ul>
          <% if(locals.login) { %>
          <div class="mx-1">
            <a class="btn btn-primary" href="/logout" role="button">Logout</a>
          </div>
          <% } else { %>
          <div class="mx-1">
            <a class="btn btn-primary" href="/login" role="button">Login</a>
          </div>
          <% } %>
        </div>
      </div>
    </nav>
    <!-- <div class="container my-3">
    <form action="/api/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> -->
    <div class="main-container login-container">
      <div class="top-container">
        <h3 class="heading">Log in to continue to Neuz Now</h3>
      </div>
      <div class="loginContainer">
        <div class="loginBox">
          <form action="/api/login" method="POST">
            <div class="loginimg">
              <img src="/images/user-removebg-preview.png" alt="" />
            </div>
            <div class="inputdiv">
              <!-- <label for="email" class="input">Email address</label> -->
              <input
                placeholder="Email"
                type="email"
                class="input"
                id="email"
                name="email"
              />
            </div>
            <div class="inputdiv">
              <!-- <label for="password" class="input">Password</label> -->
              <input
                placeholder="Password"
                type="password"
                class="input"
                id="password"
                name="password"
              />
            </div>
            <div class="my-2">

              <% if(locals.message) { %> 
                <ul style="margin: 0; padding:0 20px;">
                  <li style="color: rgba(255, 0, 0, 0.701); font-weight:bold; list-style-type: disc; ">  <%= message.msg%>  </li>
                </ul>
                <% } %> 
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="otherlinks">
              <div class="links my-2">
                <a href="/signup">Create Accout</a>
              </div>
              <div class="links my-2">
                <a href="/loginadmin">Admin?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
      defer
    ></script>
  </body>
</html>
